<div class="scrollable" style="padding-top: 50px;">
    <h2 class="scrollable-header app-name text-center" style="line-height: 52px;">MENU
        <a class="pull-right btn btn-default" ui-toggle="sidebarLeft" style="margin-top: 8px;">
            Back <i class="fa fa-chevron-right"></i>
        </a>
    </h2>  
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='sidebarLeft'>
            <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/1">Page 1 <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/2">Page 2 <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/3">Page 3 <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/4">Page 4 <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>
